body {
  background-color: rgba(242,242,242,1);
}

.layui-table-page {
  margin: 0 auto;
  text-align: center;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #3B82FF;
}

.layui-form .tab,
.layui-form .cont {
  background: #fff;
}

.layui-form .cont {
  margin: 0;
  padding: 10px 12px;
}

.tab_line.g-tab_line {
  height: 60px;
  line-height: 60px;
}
.layui-form .g-btn-default {
  color: #666;
  margin-top: 10px;
  height: 32px;
  line-height: 32px;
}
.layui-btn {
  background-color: #fff;
  color: #3B82FF;
}
.layui-table-view .layui-table td,
.layui-table-view .layui-table th{
  padding: 5px 0;
}
.layui-table td, .layui-table th {
  /* position: relative;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px; */
}
.layui-table-view .layui-table td {
  background: #fff;
}
.layui-table-view .layui-table th {
  background: #f2f2f2;
  height: 50px;
  line-height: 50px;
}

.layui-form-select dl dd.layui-this {
  background-color: #3B82FF;
}

.g-list .shouqi {
  top: 15px;
}

.g-list .cha,
.g-list .re {
  top: 10px;
}

.g-list .layui-table-view .layui-table {
  /* width: 100%; */
}

.g-list .layui-table td:last-child {
  text-align: initial;
}

.g-list .top .top_body {
  height: auto;
  padding: 16px 0px;
  overflow: initial;
} 

.g-list .top .top_body:after, .g-list .top .top_body:before{
  content: '';
  display: block;
  clear: both;
}

.g-list .top.active .top_body {
  padding: 0;
  height: 0;
  /*overflow: hidden;*/
}
.cont{
  overflow-y:auto;
}

.g-list .tb1 {
  margin-top: 0;
}

.g-list .top_line,
.g-list .tab_line {
  background: none;
  border-bottom: 1px solid #f6f6f6;
}

.g-tab_line {
  padding: 0 15px;
  position: relative;
}

.g-tab_line .g-table-title {
  display: inline-block;
  font-size:16px;
  font-weight:bold;
  color:rgba(102,102,102,1);
  line-height:22px;
  vertical-align: middle;
}

.g-tab_line .my-btn-import {
  position: absolute;
  top: -2px;
  right: 290px;
}

.g-tab_line .my-btn-upload {
  position: absolute;
  top: 7px;
  right: 180px;
}

.g-tab_line .my-btn.g-btn-default {
  height: 34px;
  line-height: 34px;
  border: 1px solid rgba(238,239,244,1);
}

