body{
    background-color: rgba(242,242,242,1);
    min-width: 1200px;
}
.header {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    background: #fff;
    clear: both;
    overflow: hidden;
}
.header .logo {
    float: left;
    width: 202px;
    height:50px;
    margin-top: 5px;
}
.header .top-right {
    float: right;
}
.header .top-right .input-box {
    display: inline-block;
    width: 190px;
    height:30px;
    box-sizing: border-box;
    line-height: 30px;
    padding-right: 30px;
    margin-right: 30px;
    position: relative;
}
.header .top-right input {
    width:190px;
    height:30px;
    border-radius:20px;
    border:1px solid rgba(221,221,221,1);
    padding: 0 30px 0 10px;
}
.header .top-right .icon-search {
    width: 20px;
    height:20px;
    position: absolute;
    right: 5px;
    top: 4px;
}
.header .top-right .head-pic {
    width: 40px;
    height:40px;
    margin-right: 10px;
}
.header .top-right .username {
    font-size:14px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:60px;
    margin-right: 10px;
}
.header .top-right .loginout {
    width: 20px;
    height:20px;
}
.wrap-content {
    position: relative;
    padding: 0 120px;
    padding-bottom: 80px;
    clear: both;
    overflow: hidden;
}
.footer {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size:14px;
    font-weight:500;
    color:rgba(176,178,180,1);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wrap-content .layui-btn {
    color: #3B82FF;
    border: solid 1px #3B82FF;
    background-color: #fff;
}
.wrap-content .layui-btn:hover {
    /*color: #fff;*/
    /*background-color: #3B82FF;*/
}
.wrap-setting .icon-item {
    position: relative;
    border: none;
}
.wrap-setting .icon-item:before{
    content: '';
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -16px;
    width:36px;
    height:36px;
}
.wrap-setting .icon-item-1:before {
    background:url(../../statics/images/icon/setting-1.png) center center no-repeat;
    background-size: 22px 28px;
}
.wrap-setting .icon-item-2:before {
    background:url(../../statics/images/icon/setting-2.png) center center no-repeat;
    background-size: 36px 26px;
}
.wrap-setting .icon-item-3:before {
    background:url(../../statics/images/icon/setting-3.png) center center no-repeat;
    background-size: 28px 26px;
}
.wrap-setting .icon-item-4:before {
    background:url(../../statics/images/icon/setting-4.png) center center no-repeat;
    background-size: 29px 26px;
}
.layui-card{
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 5px 0px rgba(183,221,206,0.32);
    border-radius:2px;
    margin-bottom: 0;
    float: left;
    position: relative;
}
.layui-card:nth-child(1){
    width:75%;
    height:230px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.layui-card:nth-child(2){
    width:20%;
    height:230px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
}
.layui-card:nth-child(3){
    width:100%;
    height:149px;
}
.layui-card:nth-child(4){
    /* width:590px;*/
    width: 49%;
    height:350px;
    margin-top: 20px;
    overflow: hidden;
}
.layui-card:nth-child(5){
    width: 49%;
    height:770px;
    float: right;
    margin-top: 20px;
    margin-left: 18px;
    overflow: hidden;
}
.layui-card:nth-child(4) .layui-card-body {
    overflow: auto;
    height: 307px;
}
.layui-card:nth-child(5) .layui-card-body{
    overflow: auto;
    height: 727px;
}
.layui-card:nth-child(6) .layui-card-body{
    overflow: auto;
    height: 357px;
}
.layui-card:nth-child(6){
    width: 49%;
    height:400px;
    margin-top: 20px;
    overflow: hidden;
}
.layui-card:nth-child(7){
    width: 49%;
    height:236px;
    float: right;
    margin-left: 18px;
    margin-top: 20px;
}
.carFont{
    height:42px;
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:42px;
}
.layui-nav .layui-nav-item{
    line-height: 1px;
}

.layui-card-body{
    padding: 0 15px 10px;
}
.layui-nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.layui-nav .layui-nav-item a{
    padding: 0;
}
.layui-nav-item{
    text-align: center;
}
.cy-page span{
    display: block;
    width:95px;
    height:20px;
    text-align: center;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:20px;
    margin-top: 7px;
}
.layui-card-body .layui-table{
    margin-top: 17px;
}
.layui-table td{
    border: none;
    border-bottom:1px solid rgba(232,232,232,1);
}
.layui-table th{
    border: none;
}
.checkDetail{
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color: #3B82FF;
    line-height:20px;
    display: block;
}
.tongzhiList{
    margin-top: 7px;
}
.tongzhiLeft{
    width: 30%;
}
.tongzhicenter{
    width: 50%;
    text-align: center;
}
.tongzhiRight{
    width: 20%;
    text-align: right;
    color: #1D744E;
}
.tongzhiList li{
    width:100%;
    font-size:14px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:28px;
    margin-top: 10px;
}
.totalClan{
    padding: 20px 0;
}
.Total{
    display: flex;
    justify-content: space-around;
}
.count{
    height:42px;
    font-size:30px;
    font-family:PingFang-SC-Heavy;
    font-weight:800;
    color:rgba(102,102,102,1);
    line-height:42px;
    text-align: center;
}
.totalName{
    height:22px;
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:22px;
    text-align: center;
}
.layui-tab-pic{
    position: absolute;
    right: 15px;
    top: 6px;
    width:270px;
    height:30px;
    /*border-radius:15px;*/
    border:1px solid rgba(221,221,221,1);
}
.layui-tab-pic li{
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    text-align: center;
    /*border-radius:15px;*/
    cursor: pointer;
}
.layui-tab-pic li.active{
    background-color: #3B82FF;
    color: white;
}
.b1{
    position: absolute;
    left: 36px;
    top: 28px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.b2{
    position: absolute;
    left: 130px;
    top: 40px;
}
.b3{
    position: absolute;
    right: 20px;
    top: 54px;
    box-sizing: border-box;
}
.b4{
    position: relative;
    top: 120px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}
.b4 span{
    display: inline-block;
    width: 120px;
    height: 80px;
}
.b4 span p{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
.b4 span p:nth-child(1){
    color: #ccc;
    font-size: 16px;
}
.c1{
    height: 40px;
    background-color: #ccc;
    font-size: 16px;
    padding-left: 20px;
    line-height: 40px;
}
.c2{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin: 10px auto;
}
.c2 span{
    margin-top: 34px;
}
.tongzhiList li{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #ccc;
}
.v1{
    width: 100%;
}
.v1 img{
    width: 30px;
    height: 30px;
    vertical-align: top;
    position: relative;
    top: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.v1 span{
    display: inline-block;
}
.v1 i{
    display: inline-block;
    float: right;
    position: relative;
    top:10px;
    vertical-align: top;
    font-size: 18px;
}
.v2{
    width: 100%;
    display: block;
    text-align: justify;
    text-indent: 2em;
}
.v3{
    /*display: flex;*/
    /*justify-content: space-around;*/
    width: 100%;
    margin-top: 8px;
}
.v3 img{
    width: 140px;
    height: 120px;
}
.n1{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}
.n1 span{
    width: 150px;
    height: 90px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}
.n1 span p:nth-child(1){
    height: 35px;
    color: #fff;
    background-color: #b5b5b5;
    line-height: 35px;
}
.n1 span p:nth-child(2){
    font-size: 24px;
    margin-top: 8px;
}
